# === Build ===
.gradle/
build/
out/
!**/src/main/**/out/
!**/src/test/**/out/

# === IntelliJ IDEA ===
.idea/
*.iws
*.iml
*.ipr

# === Eclipse / STS ===
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === VS Code ===
.vscode/

# === Spring Boot Config ===
.env
*.local

# === Logs ===
*.log

# === OS ===
.DS_Store
Thumbs.db

# === Misc ===
HELP.md
